.App {
  display: flex;
  flex-direction: column;
}

.author {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  padding: 1.5vh;
}

a {
  color: #1a7997;
  margin-left: 0.5rem;
}

.title {
  font-weight: 500;
  font-size: 48px;
  padding: 0vw 2vw 0vw;
}

.search {
  display: flex;
  margin: 2vw;
  background-color: white;
  user-select: none;
  cursor: pointer;
}

.search-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5vh;
  font-size: 24px;
  border: 1px solid #098023;
  border-left-style: hidden;
  border-radius: 0px 30px 30px 0px;
  outline: none;
}

.search-text {
  margin: 0vw 1vw 0vw;
}

.middle {
  display: flex;
  justify-content: space-between;
  padding: 0vw 2vw 0vw;
}

.left {
  width: 50vw;
}

.right {
  height: 65vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  outline: none;
  font-size: 24px;
  font-weight: 600;
  border-radius: 30px;
  width: 22rem;
  padding: 1.5vh;
  margin: 2vh;
  color: white;
  border: none;
  cursor: pointer;
}

.list-button {
  background-color: #098023;
}

.list-button:hover {
  background-color: #07631b;
}

.export-button {
  background-color: #091580;
}

.export-button:hover {
  background-color: #070f58;
}

.footer {
  position: fixed;
  padding: 2vw;
  bottom: 0px;
  right: 0px;
}
