.card {
  display: flex;
  border: 1px solid #098023;
  border-radius: 20px;
  padding: 2vh 3vh 2vh;
  margin: 0vh 2vh 2.5vh 0vh;
}

.card-left {
  width: 50%;
}

.card-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 50%;
}

.reading {
  font-size: 20px;
  color: #808080;
}

.word {
  font-size: 30px;
  font-weight: 700;
}

.def {
  font-size: 24px;
  padding-top: 1.5vh;
}

.index {
  color: #808080;
}

.label-container {
  display: flex;
  justify-content: space-evenly;
}

.add-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.add-text {
  font-size: 24px;
  font-weight: 500;
  color: #8a8a8a;
  padding: 0vh 3vh 0vh 1vh;
}
